<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Grave Discover</title>
    <!-- font style -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  </head>
  <body>

<header style="background-image: url('./img/JumboTron.png'); height: 800px;">

  <!-- Navbar -->
    <nav class="navbar navbar-expand-lg ">
        <div class="container" style="background-color: transparent;">
              <a class="navbar-brand" href="#">
                <img src="./img/navBarPic.png" alt="Logo" height="36" style="min-width: 120px;
                min-height: 100px;">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ml-2 ">
                <li class="nav-item"><a class="nav-link">Beranda</a></li>
                <li class="nav-item"><a class="nav-link">Tentang</a></li>
                <li class="nav-item"><a class="nav-link">FAQ</a></li>
                <li class="nav-item"><a class="nav-link">Tim Kami</a></li>
              </ul>
          <div class="d-flex">
            <button class="btn-masuk btn">Masuk</button>
            <button class="btn-daftar btn" href="/register">Daftar</button>
          </div>
         </div>
        </div>
    </nav>
    
    <!-- Hero -->
    <div class="hero p-5 text-center bg-image rounded-3" >
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="display-4 fw-bold mb-3 hero-title">Grave Discover</h1>
        <p>
          Selamat datang di Grave Discover - Website yang memberikan
          penghormatan dan mengenang orang-orang terkasih yang telah meninggal
          dunia. Pesan jasa untuk merawat makam orang terkasih dan temukan
          makam mereka dengan kenangan indah yang ditinggalkan di sini.
        </p>
        <button class="btn-detail btn btn-primary">Detail</button>
      </div>
    </div>
  </div>
    </div>
</header>

<main>
  <!-- About -->
  <section>
      <div class="about text-center">
        <h1>Tentang <span class="orangefont">Grave Discover</span></h1>
        <div class="descripsi-tentang d-flex justify-content-center">
          <p>
            Grave Discover adalah aplikasi berbasis website untuk memudahkan
            pengurus makam dalam mengelola pemakaman. Aplikasi ini juga
            memudahkan pengguna untuk melakukan pemesanan perawatan makam yang
            dapat dilakukan dimana saja dan kapan saja. Apabila ingin mencari
            lokasi makam, pengguna dapat melakukan pencarian pada aplikasi.
          </p>
        </div>
        <div class="row justify-content-center">
          <div class="about_box border border-secondary-subtle shadow rounded">
            <div class="d-flex justify-content-center">
              <div class="icon_background">
                <img class="about_icons" src="./icons/data-icon.png" />
              </div>
            </div>
            <h4>Manajemen Data Jenazah</h4>
            <p>
              Temukan kemudahan dalam pencatatan identitas, dan lokasi pemakaman
              yang terorganisir. Privasi dan keamanan informasi terjaga dengan
              tingkat keamanan yang terjamin.
            </p>
          </div>

          <div class="about_box border border-secondary-subtle shadow rounded">
            <div class="d-flex justify-content-center">
              <div class="icon_background">
                <img class="about_icons" src="./icons/order-icon.png" />
              </div>
            </div>
            <h4>Pemesanan Perawatan Makam</h4>
            <p>
              Rapikan dan hiasi tempat peristirahatan tercinta Anda dengan
              mudah. Pesan layanan pembersihan makam sekarang dan berikan
              kehormatan yang pantas pada kenangan mereka.
            </p>
          </div>

          <div class="about_box border border-secondary-subtle shadow rounded">
            <div class="d-flex justify-content-center">
              <div class="icon_background">
                <img class="about_icons" src="./icons/find-icon.png" />
              </div>
            </div>
            <h4>Pencarian Lokasi Makam</h4>
            <p>
              Temukan tempat peristirahatan terakhir orang terkasih dengan cepat
              dan akurat. Temukan lokasi yang tepat untuk mengunjungi dan
              menghormati mereka
            </p>
          </div>
        </div>
      </div>
  </section>

  <!-- Start Why Choose Us & FAQ -->
  <div class="container-why-us">
      <!-- Start Why Choose Us -->
      <section class="container-fluid why-us">
        <div class="title-why-us fw-bold">
          <h1>Mengapa Anda harus menggunakan</h1>
          <h2><span class="orangefont">Grave Discover</span>?</h2>
        </div>
        <div class="row ">
          <div class="col-lg-6" data-aos="fade-up" data-aos-once="true">
              <img
                src="./icons/icon-faq.png" class="img-fluid mx-auto d-block "
                alt="img faq"
                width="450px"
                height="450px"
              />
          </div>  
            <!-- card why us -->  
            <div class="col-lg-6">
              <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="wu-box mb-3 ">
                <i class="fa-solid fa-star col  mb-2"></i>
                <h5 class="orangefont  ">Mudah Digunakan</h5>
                <p class="why-us-text">Tampilan desain website dengan memperhatikan kemudahan anda dalam menggunakan aplikasi Grave Discover.</p>
                </div>  
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="wu-box">
                  <i class="fa-regular fa-clock"></i>
                <h5 class="orangefont ">Efisien</h5>
                <p class="why-us-text">Grave Discover menyediakan fitur yang efisien untuk mencatat dan mengelola data jenazah dengan cepat dan terorganisir.</p>
                </div>  
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-6 col-md-6">
                <div class="wu-box mb-3">
                <img class="why_icons col mb-2" src="./icons/Globe2.png" />
                <h5 class="orangefont ">Akses Dimana Saja, Kapan Saja</h5>
                <p class="why-us-text">Akses aplikasi secara online, memungkinkan Anda memesan perawatan makam dan menemukan lokasi makam kapan pun dan di mana pun Anda berada.</p>
                 </div> 
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="wu-box ">
                <img class="why_icons col mb-2" src="./icons/Vector (1).png" />
                <h5 class="orangefont ">Temukan Dengan Mudah</h5>
                <p class="why-us-text">Grave Discover memudahkan pengguna menemukan lokasi makam orang terkasih dengan cepat dan akurat tanpa mencari secara manual.</p>
                </div>    
              </div>
            </div>  
            </div> 
          </div>
      </section> 

      <!-- FAQ -->
      <section class="FAQ-container">
        <div>
        <h1 class=" text-white text-center">Yang Sering <span class="orangefont">Ditanyakan</span></h1>
       </div>
       <div class="FAQ">
        <div class="accordion dropdown-master" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="text-white">Apa itu Grave Discover?</h4>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Grave Discover</strong> merupakan aplikasi berbasis website untuk memudahkan pengurus makam dalam mengelola pemakaman. Aplikasi ini juga memudahkan pengguna untuk melakukan pemesanan perawatan makam dan mencari lokasi makam yang akan dikunjungi. 
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h4 class="text-white">Bagaimana cara menambah data makam pada aplikasi?</h4>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>Masuk ke halaman beranda terlebih dahulu.</li>
                  <li>Pilih fitur “Data Makam”.</li>
                  <li>Silakan klik tombol “Tambah Data” </li>
                  <li>Isi dengan lengkap formulir data jenazah, lalu klik “Simpan”.</li>
                  <li>Selesai, data makam telah ditambahkan.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h4 class="text-white">Bagaimana cara memesan perawatan makan?</h4>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>Masuk ke halaman beranda terlebih dahulu.</li>
                  <li>Pilih fitur “Pesan Perawatan Makam”.</li>
                  <li>Silakan klik tombol “Pesan </li>
                  <li>Isi dengan lengkap formulir pemesanan, lalu klik “Pesan”.</li>
                  <li>Selesai, pesanan Anda akan segera di lakukan.</li>
                  <li>Cek secara berkala agar Anda mengetahui bahwa pesanan telah dikerjakan selesai.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <h4 class="text-white">Bagaimana cara mencari lokasi makam?</h4>
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>Masuk ke halaman beranda terlebih dahulu.</li>
                  <li>Pilih fitur “Cari Lokasi”.</li>
                  <li>Masukkan nama lengkap jenazah dengan benar. </li>
                  <li>Klik pada tombol “cari” maka lokasi makam akan ditampilkan.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
       </div> 
      </section>

      <!-- Team Section -->
      <section class="team-section">
        <h1 class="text-white text-center mb-5 mt-5">Tim <span class="orangefont">Grave Discover</span></h1>
        <div class="container text-center">
          <div class="row row-cols-4 justify-content-center">
            <div class="card-profile col">
              <div class="team-profiles-pic">
              <img src="./img/ProfilePicZein.jpg" alt="Team Picture">
              </div>
              <h4><strong>Zein Hasyim</strong></h4>
              <h5>Frontend Developer</h5>
              <div class="icons-block d-flex justify-content-center" >
                <a href=""><i class="fab fa-github" alt="Github-icon"></i></a>
                <a href=""><i class="fab fa-instagram" alt="Instagram-icon"></i></a>
                <a href=""><i class="fab fa-linkedin" alt="Linkedin-icon"></i></a>
              </div>
            </div>
            <div class="card-profile col">
              <div class="team-profiles-pic">
                <img src="./img/blankpic.png" alt="Team Picture">
                </div>
              <h4><strong>Dodhy Kurniawan</strong></h4>
              <h5>Frontend Developer</h5>
              <div class="icons-block d-flex justify-content-center">
                <a href=""><i class="fab fa-github" alt="Github-icon"></i></a>
                <a href=""><i class="fab fa-instagram" alt="Instagram-icon"></i></a>
                <a href=""><i class="fab fa-linkedin" alt="Linkedin-icon"></i></a>
              </div>
            </div>
            <div class="card-profile col">
              <div class="team-profiles-pic">
              <img src="./img/ProfilePicFebri.jpg" alt="Team Picture">
              </div>
              <h4><strong>Febri Pujiani</strong></h4>
              <h5>Frontend Developer</h5>
              <div class="icons-block d-flex justify-content-center">
                <a href=""><i class="fab fa-github" alt="Github-icon"></i></a>
                <a href=""><i class="fab fa-instagram" alt="Instagram-icon"></i></a>
                <a href=""><i class="fab fa-linkedin" alt="Linkedin-icon"></i></a>
              </div>
            </div>
            <div class="card-profile col">
              <div class="team-profiles-pic">
              <img src="./img/ProfilePicNovan.jpg" alt="Team Picture">
              </div>
              <h4><strong>Novan Rizki</strong></h4>
              <h5>Frontend Developer</h5>
              <div class="icons-block d-flex justify-content-center">
                <a href=""><i class="fab fa-github" alt="Github-icon"></i></a>
                <a href=""><i class="fab fa-instagram" alt="Instagram-icon"></i></a>
                <a href=""><i class="fab fa-linkedin" alt="Linkedin-icon"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>
</main>    

 <footer>
    <h3 class="text-center">Grave Discover</h3>
 </footer>

    
  </body>
</html>
