<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#808080" />
    <link rel="manifest" href="./app.webmanifest" />
    <link
      rel="shortcut icon"
      href="./icons/icon-food.png"
      type="image/x-icon"
    />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>Grave Discover</title>
  </head>
  <body>
    <a tabindex="1" href="#maincontent" class="skip-to-content" id="skip-button"
      >Skip</a
    >

    <!-- header -->
    <header style="background-image: url('./img/JumboTron.png'); height: 800px">
      <!-- drawer -->

      <!-- navigation -->
      <nav class="navbar navbar-expand-lg" id="drawer">
        <div class="container" style="background-color: transparent">
          <a class="navbar-brand" href="#/landing-page">
            <img
              src="./img/navBarPic.png"
              alt="Logo"
              height="36"
              style="min-width: 120px; min-height: 100px"
            />
          </a>
          <button
            id="hamburger"
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ml-2">
              <li class="nav-item">
                <a class="nav-link" href="#/landing-page">Beranda</a>
              </li>
              <li class="nav-item"><a class="nav-link">Tentang</a></li>
              <li class="nav-item"><a class="nav-link">FAQ</a></li>
              <li class="nav-item">
                <a class="nav-link" href=".team-section">Tim Kami</a>
              </li>
            </ul>
            <div class="d-flex">
              <button class="btn-masuk btn"><a href="#/login">Masuk</a></button>
              <button class="btn-daftar btn">
                <a href="#/register">Daftar</a>
              </button>
            </div>
          </div>
        </div>
      </nav>

      <!-- Hero -->
    </header>
    <!-- main -->
    <main id="maincontent">
      <div id="alert-container"></div>
    </main>
    <!-- footer -->
    <footer>
      <h3 class="text-center">Copyright © 2023 - Grave Discover</h3>
    </footer>
  </body>
</html>
