@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  background-color: #fff;
}

.wrapper {
  margin: 0;
}

.wrapper_inner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
}

.vertical_wrap {
  position: absolute;
  height: 100vh;
}

.vertical_bar {
  width: 250px;
  height: 100vh;
  background: #1d2939;
  position: sticky;
  direction: inherit;
  z-index: 999;
}

.vertical_bar .profile_info {
  text-align: center;
  padding: 40px 0 20px 15px;
}

.vertical_bar .profile_info img {
  width: 50px;
  border-radius: 50px;
}

.vertical_bar .profile_info .title {
  font-size: 18px;
  letter-spacing: 2px;
  color: #f97b22;
  font-weight: bold;
  padding-top: 10px;
}

.vertical_bar .profile_info .sub_title {
  font-size: 13px;
  color: #fff;
}

.vertical_bar .menu {
  padding-left: 40px;
}

.vertical_bar .menu li a {
  display: block;
  padding: 10px;
  text-transform: none;
  color: #fff;
  text-align: left;
  text-decoration: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-bottom: 1px;
}

.text {
  font-size: 14px;
}

.vertical_bar .menu li a .icon {
  width: 25px;
  display: inline-block;
}

.vertical_bar .menu li a:hover,
.vertical_bar .menu li a.active {
  background: #fff;
  color: #1d2939;
}

.top_bar {
  height: 60px;
  width: 100%;
  background: #1d2939;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden; /* Menghilangkan overflow */
}

.top_bar .hamburger {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  display: none;
  margin-right: 25px;
}

.top_bar .logo {
  padding-left: 250px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f97b22;
}

.top_bar .logo span {
  color: #fff;
}

.main_container {
  top: 0;
  padding-top: 70px;
  display: flex;
}

.container-admin {
  position: relative;
  margin-right: 30px;
  padding-bottom: 50px;
  margin-left: 280px;
}

.content {
  margin: auto;
  width: 100%;
  padding: 10px;
  margin-top: 60px;
}

.container-dashboard {
  position: relative;
  margin-right: 30px;
  padding-bottom: 50px;
  margin-left: 100px;
}

.content-dashboard {
  margin: auto;
  width: 100%;
  padding: 10px;
  margin-top: 60px;
}

.main_container .container-admin .item {
  background: #dfdada;
  border-radius: 10px;
  margin-bottom: 25px;
}

.card-dashboard {
  background-color: #1d2939;
  border-radius: 15px;
}

.total {
  color: #f97b22;
}

.item {
  background-color: #f6f5f5;
}

.info {
  padding-right: 40px;
}

.contact {
  padding: 5px;
  border-radius: 8px;
}

/* Form */
.container-form {
  padding: 25px;
  height: calc(100% - 60px);
  overflow: auto;
  display: flex;
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.btn {
  background-color: #f97b22;
}

.btn-add button {
  text-decoration: none;
}

.btn-add button a {
  text-decoration: none;
  color: white;
}

/* tabel data jenazah */

@media (max-width: 768px) {
  .top_bar .hamburger {
    display: inline-block;
  }

  .top_bar .logo {
    padding-left: 0;
  }
  .vertical_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
  }
  .vertical_bar {
    position: absolute;
    top: 0;
    left: -100%;
    transition: left 0.2s linear;
  }
  .vertical_wrap .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .main_container {
    width: 100%;
    margin-left: 0;
  }

  .container-admin {
    margin-left: 0;
    padding-left: 20px;
    padding-right: 50px;
  }

  .container-dashboard {
    margin-left: 0;
  }

  .wrapper.active .vertical_wrap {
    visibility: visible;
    transition-delay: 0s;
  }

  .wrapper.active .vertical_bar {
    left: 0;
    transition-delay: 0s;
  }

  .container-form {
    padding-left: 10px;
  }
}
