<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#808080"/>
  <link rel="manifest" href="./app.webmanifest">
  <link rel="shortcut icon" href="./icons/icon-food.png" type="image/x-icon">
  <title>RestoFast Indonesia</title>
</head>
<body>
  <a tabindex="1" href="#maincontent" class="skip-to-content" id="skip-button">Skip</a>
  <!-- header -->
  <header>
    <!-- drawer -->
    <a tabindex="0" id="hamburger">☰</a>
    <!-- tittle -->
    <h2>RestoFast Indonesia</h2>
    <!-- navigation -->
    <nav id="drawer">
      <h1>Grave Discover</h1>
      <ul>
        <li><a tabindex="0" href="#/landing-page">Home</a></li>
        <li><a tabindex="0" href="#/login">Login</a></li>
        <li><a tabindex="0" href="#/register">Register</a></li>
        <li><a tabindex="0" href="#/profile">Profile</a></li>
        <li><a tabindex="0" href="#/about">About Us</a></li>
      </ul>
    </nav>
    <!-- jumbotron -->
    <div class="hero">
      <img src="./images/heros/hero-image_2.jpg" alt="Jumbotron">
    </div>
  </header>
  <!-- main -->
  <main id="maincontent">
      <!-- <section>
        <div class="menu">
          <img src="./images/heros/hero-image_4.jpg" alt="">
        </div>
        <div class="deskripsi">
          <p class="rating-restaurant">Rating: 4.5</p>
          <p class="city-restaurant">Makassar</p>
          <h3 class="food-name">Coto Makassar</h3>
          <p class="text-deskripsi">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, dolorum ratione debitis earum fugit veniam vitae consequatur corporis ullam cupiditate nam ad, fuga inventore quos velit beatae, voluptatibus aliquid sed.</p>
          <button>Cek Restaurant</button>
        </div>
      </section> -->
      
  </main>
  <!-- footer -->
  <footer>
    <h4>Copyright © 2023 - RestoFast Indonesia</h4>
  </footer>
</body>
</html>
